body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg,#1e1e1e, #283e51);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
}

.phone {
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    padding: 30px;
    text-align: center;
    position: relative;
}

.phone h2 {
    margin-bottom: 20px;
    color: #333;
}
.back-arrow {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 22px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.back-arrow:hover {
    color: #007bff;
}


.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tabs button {
    flex: 1;
    padding: 10px 0;
    border: none;
    background: #f0f0f0;
    color: #555;
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.tabs button.active {
    background: #f44336;
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.card label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.card input {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

.card input:focus {
    border-color: #f44336;
}

button.primary {
    padding: 12px;
    background: #f44336;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button.primary:hover {
    background: #f44336;
}
@media (max-width: 700px) {
    .container {
        max-width: 95%;
        padding: 12px;
    }

    .phone {
        padding: 22px;
        border-radius: 20px;
    }

    .tabs button {
        padding: 8px 0;
        font-size: 12px;
        margin: 0 3px;
    }

    .card input {
        padding: 8px 12px;
        font-size: 12px;
    }

    button.primary {
        padding: 10px;
        font-size: 14px;
        border-radius: 10px;
    }

    .back-arrow {
        font-size: 18px;
        top: 10px;
        left: 10px;
    }
}
