*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('Images/plane1.png') no-repeat center center;
    background-size: cover;
}

.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    flex-direction: column;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.input-box{
    position: relative;
    width: 310px;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding-left: 5px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 0.9em;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -10px;
    font-size: 0.8em;
    color: #f44336;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 50px;
}

.remember-forgot{
    margin: -10px 0 15px;
    font-size: 0.9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    background: #f44336;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
}

.register-link{
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.register-link a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.register-link a:hover{
    text-decoration: underline;
}

@media (max-width:360px){
    .login-box{
        width: 90%;
        height: auto;
        border-radius: 10px;
        padding: 20px 0;
    }
    .input-box{
        width: 90%;
    }
}







* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.body1{
  margin: 0;
  background: linear-gradient(135deg, #1e1e1e, #283e51);
  color: white;
  padding: 40px;
}

.back-arrow {
    text-decoration: none;
    font-size: 28px;
    color: #f4f8f9; 
    display: inline-block;
    margin-bottom: 20px;
}

.back-arrow:hover {
    color: #607d8b; 
}


.title {
   text-align: center;
  font-size: 48px;
  font-weight: 800;
  
  margin-bottom: 50px;
 
  color: #d2c6c6;
 
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}
  

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  flex: 1 1 300px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.card {
  background: #e55347;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 90px;
  height: 90px;
  border-radius: 12px;
  object-fit: cover;
}

.card-content {
  flex: 1;
}

.date {
  font-size: 14px;
  opacity: 0.9;
}

.card h2 {
  margin: 8px 0;
  font-size: 20px;
}

.price {
  font-size: 26px;
  font-weight: bold;
}

.price .old {
  text-decoration: line-through;
  font-size: 16px;
  opacity: 0.8;
  margin-right: 8px;
}

small {
  font-size: 12px;
  opacity: 0.9;
}

