body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;

    display: flex;               
    justify-content: center;     
    align-items: center;         
    min-height: 100vh;  
}

.phone {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.flight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

.flight:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.flight-info strong {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.flight-info p {
    margin: 0;
    color: #555;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #2c3e50;
    margin-right: 10px;
}

.select-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.select-btn:hover {
    background-color: #f44336;
}
@media (max-width: 700px) {
    .phone {
        width: 90%;            
        padding: 30px 15px 15px 15px;
        margin-top: 50px;       
    }

    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .flight {
        padding: 12px 15px;
        margin-bottom: 12px;
    }

    .flight-info strong {
        font-size: 14px;
    }

    .flight-info p {
        font-size: 12px;
    }

    .price {
        font-size: 16px;
    }

    .select-btn {
        padding: 6px 10px;
        font-size: 12px;
    }
}
