* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.header {
    height: 100vh;
    width: 100%;
    background-color: lightblue;
    background-image: url("Images/plane1.png");
    background-position: center;
    background-size: cover;

}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 250px;
    height: 150px;
    object-fit: contain;
    top: 10px;
    left: 10px;
}


.nav-links {
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: right;
    justify-content: space-between;
}

.nav-links img {
    
    align-items: center;
    justify-content: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;

}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transform: 0.5s;
}

.nav-links ul li :hover::after {
    width: 100%;

}

.text-box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.text-box h1 {

    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 13px;
    color: #fff;

}

.visit {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #f44336;
    padding: 12px 34px;
    font-size: 13px;
    background: #f44336;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.visit:active {
    background: #e78c47;   
    border-color: #e78c47;
}
.visit:focus {
    background:  #e78c47;
    border-color:  #e78c47;
    outline: none;
}

@media(max-width: 700px) {
    i {
        display: inline !important;
        color: white !important;
    }
     #menuShow {
        display: block;
    }

   
    #menuBack {
        display: none;
        position: absolute;
        top: 15px;      
        left: 15px;    
        font-size: 24px;
    }

    .nav-links {
        display: flex;
        position: fixed;
        flex-direction: column;
        background-color: #f44336;
        height: 100vh;
        width: 220px;
        top: 0;
        right: -220px;
        /* do e lëviz JS në 0 kur hapet menu */
        text-align: left;
        align-items: flex-start;
        z-index: 999;
        transition: 1s;
    }

    nav .fa {
        display: flex;
        /* shfaq ikonat në mobile */
        flex-direction: column;
        margin: 10px;
        font-size: 22px;
        color: white;
        cursor: pointer;


    }

    .nav-links ul li {
        display: block;
    }

    .nav-links ul {
        padding: 10px 25px; 
        margin-bottom: 520px;
    }
}

/*----- part two -----*/
.airline {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: rgb(35, 36, 37);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.airline-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}

.airline-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.flights {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}

.flights-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
}

.flights-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.footer {
    background-color: #000;
    color: #fff;
    padding: 60px 0 20px;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-box {
    flex: 1;
    min-width: 250px;
}

.footer-box h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
    color: #ccc;
}

.footer-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: #f44336;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.footer-btn:hover {
    background: #ff665a;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 15px;
    font-size: 13px;
    color: #aaa;
}





.trupi {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    min-height: 100vh;
    padding: 20px;
}


.logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: rgb(38, 45, 146);
    text-align: center;
    margin-top: 20px;
}



.booking-form {

    color: rgb(38, 45, 145);

    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);

}



.tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 3px solid transparent;

}




form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    align-items: center;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 0cap;
    border-radius: 4px;
    background-color: rgb(221, 231, 240);
}

.show-flights {
    background: rgb(49, 49, 111);
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.show-flights:hover {
    background: rgba(94, 115, 152, 0.441);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.20);
}

.show-flights:active {
    transform: translateY(0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.show-flights {
    display: block;
    margin: 15px auto 0 auto;
}

.prom h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: rgb(30, 71, 98);
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.prom-box {
    background-color: rgb(139, 197, 216);
    color: rgb(92, 86, 86);
    padding: 10px;
    border-radius: 8px;
    align-items: center;

}

.prom-box h3 {
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;

}

.prom-box p {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.book-flights {

    background: rgb(49, 49, 111);
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    display: block;
    margin: 15px auto 0 auto;


}