*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.header{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
    background-image: url("Images/photo2.png");
    background-position: center;
    background-size: cover;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}
.nav-links ul li a{
    color: rgb(38, 45, 146);
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;

}
.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(45, 101, 120);
    display: block;
    margin: auto;
    transform: 0.5s;
}
.nav-links ul li :hover::after{
    width: 100%;

}
.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
     color: rgb(38, 45, 146);
}
.text-box h1{

    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 13px;
     color: rgb(38, 45, 146);

}
.visit{
    display: inline-block;
    text-decoration: none;
    color: rgb(38, 45, 146);
    border: 1px solid rgb(38, 45, 146);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.visit:hover{
border: 1px solid  rgb(200, 202, 231);
background: rgba(106, 135, 188, 0.441) ;
transition: 1s;
}
@media(max-width: 700px){
    .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links {
    position: absolute;
    background-color: rgba(106, 135, 188, 0.441) ;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
 
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.trupi{
    font-family: Arial,  sans-serif;
     background-color: lightblue;
    min-height: 100vh;
    padding: 20px;
}


.logo{
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: rgb(38, 45, 146);
    text-align: center;
    margin-top: 20px;
}



.booking-form{
   
    color: rgb(38,45,145);

    max-width: 400px;
    margin:20px auto;
    padding:20px;
    border-radius: 6px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.15);
    
}
    

    
.tabs{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}
.tabs button {
    flex: 1;
    padding: 10px;
    border:none;
    background: none;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 3px solid transparent;

}

  
    

 form label{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    align-items: center;
}
form input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 0cap;
    border-radius: 4px;
    background-color: rgb(221, 231, 240);
}
.show-flights{
    background: rgb(49, 49, 111);
     color: white;
     padding: 12px 28px;
     border: none;
     border-radius: 6px;
     font-size: 16px;
     font-weight:600;
     cursor: pointer;
     display: flex;
     justify-content: center;
     margin-top: 40px;
     
}
.show-flights:hover{
    background: rgba(94, 115, 152, 0.441) ;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.20);
}
.show-flights:active{
    transform: translateY(0);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}
.show-flights{
    display: block;
    margin: 15px auto 0 auto;
}
.prom h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: rgb(30, 71, 98);
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
    
.prom-box{
    background-color: rgb(139, 197, 216);
    color: rgb(92, 86, 86);
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    
}
.prom-box h3{
font-weight: 300;
margin-bottom: 10px;
 text-align: center;
    margin-top: 20px;
    font-weight: bold;
    
}
.prom-box p{
    margin-bottom: 20px;
   text-align: center;
   font-weight: bold;
}
.book-flights{

    background: rgb(49, 49, 111);
     color: white;
     padding: 12px 10px;
     border: none;
     border-radius: 6px;
     font-size: 16px;
     font-weight:600;
     cursor: pointer;
     display: flex;
     justify-content: center;
     margin-top: 40px;
      display: block;
    margin: 15px auto 0 auto;
    
    
}
